@{
    ViewData["Title"] = "Injected using Task.Result";
    const string DIRTY_STRING = "DIRTY_STRING";
}

@using HtmlHelperReplacement.Services

@inject ICleaningService cleaningService

    <h2>Injected Cleaning Service called async and using Task.Result</h2>

    <div class="container">
        @for (var i = 0; i < 5000; i++)
        {
            <div class="row">
                <div class="col">@@cleaningService.GetCleanStringAsync(DIRTY_STRING).Result</div>
                <div class="col">@cleaningService.GetCleanStringAsync(DIRTY_STRING).Result</div>
                <div class="col">&nbsp;</div>
            </div>
        }

    </div>
